<div class="section">
	<table class="form">
	  <tr>
	    <th><%= form.label :name %></th>
	    <td><%= form.text_field :name %></td>
	  </tr>
	  <tr>
	    <th><%= form.label :description %></th>
	    <td><%= form.text_area :description %></td>
	  </tr>
	  <tr>
	    <th><%= form.label :price %></th>
	    <td><%= form.text_field :price %></td>
	  </tr>
	  <tr>
	    <th><%= form.label :featured %></th>
	    <td><%= form.check_box :featured %></td>
	  </tr>
	  <tr>
	    <th><%= form.label :image %></th>
	    <td>
				<%= form.file_field :image %>
				<% if form.object.image %>
					<%= image_tag(form.object.image.url, :size => "80x80") rescue nil %>
					<%= form.object.image_file_name %>
				<% end %>
			</td>
	  </tr>
	  <tr>
	    <th><%= form.label :package %></th>
	    <td>
				<%= form.file_field :package %>
				<%= form.object.package_file_name if form.object.package %>
			</td>
	  </tr>
	</table>
</div>

